/*
Theme Name:			My WP Theme
Theme URI:			http://mohhasbias.com
Description:		My WP Theme of http://www.mohhasbias.com
Author:				Moh Hasbi Assidiqi
Author URI:			http://www.mohhasbias.com
Template:			twentysixteen
Version:			1.0.1
License:			MIT License
License URI:		https://opensource.org/licenses/MIT
Tags:				Course Materials
Text Domain:		my-wp-theme
Github Theme URI:	mohhasbias/my-wp-theme
*/
